
#home {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: orange; */
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  #home > div {
    /* border: 1px solid goldenrod; */
    width: 400px;
    height: 100px;
    /* background-color: teal; */
  }
  
  .imagediv > img {
    height: 100%;
    
  }
  
  #home > div > input {
    margin-top: 10%;
    width: 80%;
    margin-left: 5%;
    padding: 5px;
    /* border: 1px solid black; */
  }
  
  #home > div:nth-child(3) {
    box-sizing: border-box;
    padding-left: 40%;
    padding-top: 30px;
  }
  
  .btndiv > a > button {
    vertical-align: middle;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: white;
    width: 80px;
    padding: 5px;
  }

#main {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
  width: 100%;
  margin: auto;

  grid-row-gap: 20px;
}
#main > div {
  width: 90%;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img {
  width: 95%;
}
h1 {
  font-size: 15px;
  text-align: center;
}
h2 {
  text-align: center;
}

#main > div > button {
  background-color: #90A4AE;
  color: white;
  margin-left: 19%;
  margin-bottom: 2%;
  border: 1px solid black;
  padding: 2%;
  width: 60%;
}

