#signin {
  width: 25%;
  margin: auto;
  padding: 2%;
  background-color: #cfd8dc;
  margin-top: 50px;
}
#signin > h1 {
  text-align: center;
  font-size: 30px;
  color: #32526c;
}
#signin > input {
  width: 98%;
  margin-top: 5%;
  font-size: 15px;
  padding: 5px;
}
#signin > button {
  width: 100%;
  margin-top: 8%;
  font-size: 20px;
  padding: 5px;
  background-color: #ffa726;
  color: black;
  border: 1px solid black;
}



#home {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: orange; */
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  #home > div {
    /* border: 1px solid goldenrod; */
    width: 400px;
    height: 100px;
    /* background-color: teal; */
    
  }
  
  .imagediv > img {
    height: 100%;    
  }
  
  #home > div > input {
    margin-top: 10%;
    width: 80%;
    margin-left: 5%;
    padding: 5px;
    /* border: 1px solid black; */
  }
  #home > div:nth-child(2){
    margin-left: 100px;
  }
  
  #home > div:nth-child(3) {
    box-sizing: border-box;
    padding-left: 40%;
    padding-top: 30px;
    
  }
  
  .btndiv > a > button  {
    vertical-align: middle;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: white;
    width: 80px;
    padding: 5px;
  }
